@def dataGridColorBorder transparent;
@def colorBorder #BBB;
@def colorGridHeader #EBEEF1;
@def colorTableHover #FFFCDD;
@def colorOddRow #F4F6F8;

.dataGridWidget {
  border-bottom: 1px solid colorBorder;
}

.dataGridFooter {
}

.dataGridHeader {
  background-color: colorGridHeader;
  border-bottom: 1px solid colorBorder;
  border-top: 1px solid colorBorder;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  outline: none;
}

.dataGridCell {
}

.dataGridFirstColumnFooter {
}

.dataGridFirstColumnHeader, .dataGridFirstColumn {
  border-left: 1px solid colorBorder;
}
.dataGridLastColumnHeader, .dataGridLastColumn {
  border-right: 1px solid colorBorder;
  padding-right: 25px !important;
}

.dataGridLastColumnFooter {
}

.dataGridSortableHeader {
  cursor: pointer;
}

.dataGridSortableHeader:hover {
}

.dataGridSortedHeaderAscending {
}

.dataGridSortedHeaderDescending {
}

.dataGridEvenRow{
  border-left: 1px solid colorBorder;
  border-right: 1px solid colorBorder;
 
}

.dataGridOddRow {
  border-left: 1px solid colorBorder;
  border-right: 1px solid colorBorder;
   background-color: colorOddRow;
}

.dataGridEvenRowCell, .dataGridOddRowCell {
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid colorBorder;
}

.dataGridHoveredRow {
  background-color: colorTableHover;
  cursor: pointer !important;
}

.dataGridHoveredRowCell {
}

.dataGridKeyboardSelectedRow {
}

.dataGridKeyboardSelectedRowCell {
}

.dataGridSelectedRow {
}

.dataGridSelectedRowCell {
}

.dataGridKeyboardSelectedCell {
}
