@def colorLabelFont #333;
@def colorBorder #BBB;
@def colorTableHover #EBEEF1;
@def zIndexBelowTop 11500;
@def zIndexGeneric 12000;

.gwt-PopupPanel {
  z-index: zIndexGeneric;
}

.gwt-PopupDialog {
  z-index: zIndexGeneric;
}

.gwt-PopupPanelGlass {
  z-index: zIndexBelowTop;
  background-color: rgba(66, 66, 66, 0.3);
}

.gwt-SuggestBoxPopup {
  border: 1px solid colorBorder;
  border-radius: 5px;
  border-top-left-radius: 0;
  color: colorLabelFont;
  background-color: white;
  font-size: 12px;
  z-index: zIndexGeneric;
}

@if user.agent gecko gecko1_8 {
  .gwt-SuggestBoxPopup {
    -moz-border-radius: 5px;
  }
}

.suggestPopupContent table {
  table-layout: fixed;
  width: 340px;
  overflow: hidden;
}

.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  cursor: pointer;
  text-overflow: ellipsis;
}

.gwt-SuggestBoxPopup .item:hover, .gwt-SuggestBoxPopup .item-selected {
  background-color: colorTableHover;
}

.gwt-SliderBar-knob {
  margin-left: -13px;
}

.gwt-SliderBar-shell {
  outline: none;
  height: 33px;
  width: 275px;
  padding-top: 10px;
}

@Sprite .gwt-SliderBar-shell .gwt-SliderBar-line {
  gwt-image: "layerSliderBackgroundActive";
  width: inherit;
  top: 22px;
  overflow: hidden;
}

@Sprite .gwt-SliderBar-shell .gwt-SliderBar-line-disabled {
  gwt-image: "layerSliderBackgroundInactive";
  width: inherit;
  top: 22px;
  overflow: hidden;
}
.gwt-SliderBar-shell .gwt-SliderBar-label-disabled {
  color: gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-knob {
  z-index: 1;
  cursor: pointer;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick {
  top: 20px;
  width: 1px;
  height: 3px;
  background: #c3c3c3;
  overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick-disabled {
  background: gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-label-disabled {
  cursor: default;
}
.gwt-SliderBar-shell .gwt-SliderBar-label {
  cursor: default;
}

.gwt-SliderBar-shell-focused {

}

.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
  cursor: pointer;
}

.suggestPopupContent {
  height: 200px;
  overflow: auto;
}

.gwt-DatePicker {
   border: 1px solid #4c4c4c;
   cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
   outline: none;
}
.datePickerMonthSelector td:focus {
   outline: none;
}
.datePickerDays {
   width: 207px;
   background: #f3f5f5;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
   font-size: 85%;
   text-align: center;
   padding: 4px;
   outline: none;
   font-weight:bold;
   color:#333;
   border-right: 1px solid #EDEDED;
   border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
   background: #f3f5f5;
   padding: 0px 4px 2px;
   cursor: default;
   color:#666;
   font-size:70%;
   font-weight:normal;
}
.datePickerDay {
   padding: 4px 7px;
   cursor: hand;
   cursor: pointer;
}
.datePickerDayIsFiller {
   color: #999;
   font-weight:normal;
}
.datePickerDayIsValue {
   background: #d7dfe8;
}
.datePickerDayIsDisabled {
   color: #AAAAAA;
   font-style: italic;
}
.datePickerDayIsHighlighted {
   background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
   background: #d7dfe8;
}
.datePickerDayIsToday {
   padding: 3px;
   color: #00f;
}
.datePickerMonthSelector {
   width: 100%;
   padding: 1px 0 5px 0;
   background: #f3f5f5;
}
.datePickerPreviousButton, .datePickerNextButton {
  margin: 4px;
  outline: none;
}
@Sprite .datePickerPreviousButton {
  gwt-image: "buttonPreviousNormal";
}
@Sprite .datePickerPreviousButton-up-hovering {
  gwt-image: "buttonPreviousHover";
}
@Sprite .datePickerPreviousButton-down-hovering {
  gwt-image: "buttonPreviousActive";
}
@Sprite .datePickerNextButton {
   gwt-image: "buttonNextNormal";
}
@Sprite .datePickerNextButton-up-hovering {
  gwt-image: "buttonNextHover";
}
@Sprite .datePickerNextButton-down-hovering {
  gwt-image: "buttonNextActive";
}
td.datePickerMonth {
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   font-size: 100%;
   font-weight: bold;
   color: #333;
}
.gwt-DateBox {
   padding: 5px 4px;
   border: 1px solid #ccc;
   border-top: 1px solid #999;
   font-size: 100%;
}
.gwt-DateBox input {
   width: 8em;
}
.dateBoxFormatError {
   background: #ffcccc;
}
.dateBoxPopup {
}
