@def arrowWidth 8;
@def arrowHeight 10;

@def colorBody #4E575B;
@def colorHelpBorder #DFD903;
@def colorHelpContent #F6F4AB;
@def colorHelpContentText #004E75;
@def colorCalculationPoint #FFFE7E;
@def colorErrorBorder #D90000;
@def colorHeading2 #4E4E4E;
@def colorLabelFont #333;
@def colorInputBackground #F3F5F5;
@def colorInputFont #808080;
@def colorSourceBackgroundDefault #699DCD;
@def colorBorderDisabled #DDD;
@def colorDisabled #6A7473;
@def colorButtonBottom #B8C6C5;
@def colorButtonTop #DBE1E1;
@def colorButtonBottomSelected #AFAFAF;
@def colorButtonTopSelected #7F7F7F;
@def colorBorder #BBB;
@def colorBorderHover #4C4C4C;
@def colorPopupEmptyBackground #ffffff;
@def colorTextAlternative #5FA0D8;
@def colorTextDark #6D8EC8;
@def colorBorderDialog #B7C5C5;
@def colorSelected #B7C5C5;
@def colorTableHover #EBEEF1;
@def colorTableHeader #EBEEF1;
@def colorPopupTitleBackground #EBEEF1;
@def colorMapBackground #EEF1F1;
@def colorNotificationItemErrorBackground #F6ABAB;
@def colorNotificationItemUnreadBackground #F6F4AB;
@def colorNotificationItemReadBackground white;
@def colorErrorContent white;
@def colorErrorBorder red;
@def colorShipMarkerBackground #084594;
@def colorDevelopmentSpace #9B7CC2;
@def colorSuggestionWarning #FFA500;

@def substanceButtonTextColor white;
@def substanceButtonBackgroundColor #A0AAAB;

@def sourceMarkerArrowWidth 36px;
@def sourceMarkerWidth 28px;
@def sourceMarkerMaxWidth 150px;

@def shippingRouteMarkerSize 20px;

@def legendGraphicWidth 22;
@def legendGraphicHeight 22;

@def zIndexMarkersLayer 8000;
@def zIndexSonarVectorLayer 8100; 
@def zIndexSonarMarkerLayer 8101;
@def zIndexInteractionLayer 9000;
@def zIndexSearchPanel 10000;
@def zIndexNavigationWidget 10000;
@def zIndexCalculatorView 11000;
@def zIndexCalculatorViewRaised 11005;
@def zIndexCalculatorViewRaisedPlusOne 11006;
@def zIndexAttachedPopup 12000;
@def zIndexGeneric 13000;
@def zIndexHelpPopup 14000;
@def zIndexValidationPopup 15000;

@def rowHeightWithBorder 31px;
@def rowHeight 33px;

/* HTML tag styles */
:focus {
  /* Setting all outline style to zero, not removing it (because accessibility) but hiding it instead. */
  outline: 0;
}
body {
  background-color: white;
  font-size: 15px;
  color: colorBody;
}
/* An absolute minimum height for the application, any smaller than this makes it ridiculous so a scrollbar is warranted. */
.rootLayoutPanel {
  min-height: 500px;
}
h1 {
  color: colorTextDark;
  font-weight: normal;
  font-size: 33px;
}

h2 {
  color: colorHeading2;
  font-weight: normal;
  font-size: 22px;
}

/* Modified radio button styling */
.radioGroupButton label {
  background: linear-gradient(#E2E2E2, #CBD1D2);
  border: 1px solid colorBorder;
  box-shadow: 0px 5px 12px -8px black inset;
  border-radius: 2px;
  color: #666;
  cursor: pointer;
  font-size: 15px;
  line-height: 23px;
  margin: 0px;
  padding: 0px; /* this ensures a proper looking focus rectangle */
  text-align: center;
  text-shadow: 0 1px 0 white;
  transition: background .15s ease-out, color .15s ease-out, text-shadow .15s ease-out;
}
.radioGroupButton label:hover {
  border: 1px solid colorBorderHover;
}
.radioGroupButton input:checked + label {
  background: linear-gradient(#E2E4E4, #F4F5F5);
  border: 1px solid colorBorderHover;
  color: black;
  box-shadow: 0 1px 0 #fff inset;
  text-shadow: none;
}
.radioGroupButton input:disabled + label {
  background: linear-gradient(#EDF0F0, #DBE2E2);
  border: 1px solid colorBorderDisabled !important;
  color: colorDisabled !important;
  outline: none !important;
  cursor: default !important;
  text-shadow: 0 1px 0 white !important;
}

/* Regular tool button styling */
button, .toolButton label, .listButton {
  background: linear-gradient(#DBE1E1, #B8C6C5);
  border: none;
  border-radius: 2px;
  color: colorLabelFont;
  cursor: pointer;
  font-size: 15px;
  height: rowHeight;
  margin: 0px;
  padding: 0px; /* this ensures a proper looking focus rectangle */
  text-align: center;
  text-shadow: 0 1px 0 white;
  transition: background .15s ease-out, color .15s ease-out, text-shadow .15s ease-out, box-shadow 0.15s ease-out;
  border-radius: 2px;
  background: linear-gradient(#DBE1E1, #B8C6C5);
  box-shadow: 0 1px 0 #fff inset, 0px 0px 2px #464646;
}

button:hover, .toolButton label:hover, .listButton:hover {
  box-shadow: 0 1px 0 #fff inset, 0px 0px 3px #000;
}

button:active, .toolButton input:checked + label, .listButton:active {
  color: black;
  box-shadow: 0 1px 0 #fff inset, 0px 0px 4px #000;
}

button:active, .toolButton input:checked + label, .listButton:active {
  background: linear-gradient(#AFAFAF, #7F7F7F);
}
  
button:disabled, .toolButton input:disabled + label, .listButton:disabled, .listButtonDisabled {
  background: linear-gradient(#EDF0F0, #DBE2E2);
  box-shadow: 0 1px 0 #fff inset, 0px 0px 2px #BBB;
  color: colorDisabled !important;
  outline: none !important;
  cursor: default !important;
  text-shadow: 0 1px 0 white !important;
}

.buttonGroup {
  display: inline-block;
}

.overflow {
  overflow: auto;
}

.flex {
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.wrap {
  flex-wrap: wrap;
}

.alignCenter {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.justifyCenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.boxDelimiter {
  flex-basis: 14px;
}

/* Items must manually override this if they do have a min-width. Default value for this property is 'auto' which
will (likely) snap the min-width to the content size, which is absolutely retarded. http://dev.w3.org/csswg/css-flexbox/#min-size-auto */
.flex > * {
  min-width: 0;
  min-height: 0;
}

.autoSize {
  height: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.resize {
  overflow: auto;
}

.grow {
  -webkit-flex-grow: 1 !important;
  flex-grow: 1 !important;
}

.shrink {
  flex-shrink: 1 !important;
}

.noShrink {
  -webkit-flex-shrink: 0 !important;
  flex-shrink: 0 !important;
}

.rows {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.columnsClean {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.columns {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.columns > * {
  flex-shrink: 0;
}

.flexEnd {
  justify-content: flex-end
}

.flexGroup {
  display: flex !important;
}

.flexGroup button, .flexGroup .toolButton, .flexGroup .radioGroupButton, .flexGroup .listButton {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: flex
}

.radioGroupButton input + label {
  line-height: 23px;
}

.buttonGroup button, .toolButton input + label, .buttonGroup .listButton {
  line-height: rowHeight;
}
  
.buttonGroup button, .radioGroupButton input + label, .toolButton input + label, .buttonGroup .listButton {
  border-radius: 0;
  padding: 0;
  display: inline-block;
  box-sizing: content-box;
  position: relative;
  z-index: zIndexCalculatorViewRaised;
}
  
.buttonGroup button:hover, .radioGroupButton input + label:hover, .toolButton input + label:hover, .buttonGroup .listButton:hover {
  z-index: zIndexCalculatorViewRaisedPlusOne;
}

.buttonGroup .radioGroupButton:first-child input + label, .buttonGroup button:first-child, .buttonGroup .toolButton:first-child input + label, .buttonGroup .listButton:first-child {
  border-radius: 2px 0 0 2px;
}
.buttonGroup .radioGroupButton:last-child input + label, .buttonGroup button:last-child, .buttonGroup .toolButton:last-child input + label, .buttonGroup .listButton:last-child  {
  border-radius: 0 2px 2px 0;
}

.buttonGroupDefaultZIndex button {
  z-index: initial;
}

table {
  border-spacing: 0px;
}

td {
  padding: 0;
}

input[type="text"], input[type="password"], textarea, .inputWithUnit {
  background-color: colorInputBackground;
  border: 1px solid colorBorder;
  border-radius: 2px;
  -moz-border-radius: 2px;
  color: colorInputFont;
  font-size: 15px;
  padding: 0 5px;
  box-sizing: border-box;
}
input[type="text"], input[type="password"],  .inputWithUnit {
  height: rowHeight;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .inputWithUnit:focus {
  color: colorLabelFont;
  border: 1px solid colorLabelFont;
  outline: none;
}
.inputWithUnit input:focus {
  border: none;
}

input[type="radio"] {
  display:none;
}

.radioButton > span {
  display: flex;
}

@sprite .radioButton input[type="radio"] + label {
  gwt-image: "radioButton";
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 24px !important;
  cursor: pointer;
  display: block;
  padding-left: 29px;
  padding-right: 10px;
  line-height: 21px;
  height: auto;
  width: auto;
}

@sprite .radioButton input[type="radio"]:checked + label {
  gwt-image: "radioButtonChecked";
  min-height: 24px !important;
  height: auto;
  width: auto;
}

@sprite .radioButton input[type="radio"]:disabled + label {
  gwt-image: "radioButtonDisabled";
  min-height: 24px !important;
  height: auto;
  width: auto;
}

input[type="checkbox"] {
  display: inline; /* Undo inherited display:none because checkbox needs to get focus... */ 
  opacity: 0;      /* ..but do hide the checkbox from view */ 
  z-index: -1;
  overflow: hidden;
  position: absolute;
  outline: 0; /* In the interest of accessibility, set this to 0 rather than none; none makes some browsers (those used by blind people, for example) ignore its tab-focus entirely, making it un-focus-able for those unfortunates that can't click the thing. */
}

@sprite input[type="checkbox"] + label {
  gwt-image: "checkBox";
  display: inline-block;
  cursor: pointer;
}

@sprite input[type="checkbox"]:checked + label {
  gwt-image: "checkBoxSelected";
}

input[type="checkbox"]:focus + label {
  outline: 1px dotted colorBorderHover;
}

@sprite input[type="checkbox"]:disabled + label {
  gwt-image: "checkBoxDisabled";
}

input:disabled {
  color: colorBorder; 
  font-style: italic;
}

label {
  color: colorLabelFont;
}

select {
  background-color: colorInputBackground;
  color: colorLabelFont;
  font-size: 15px;
  box-shadow: 0px 0px 2px #464646;
  border: none;
  transition: box-shadow 0.15s ease-out;
  cursor: pointer;
}

select:hover {
  box-shadow: 0px 0px 3px #000;
}

/* ClientBundle styles */

@keyframes outerSonarAnimation {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@-webkit-keyframes outerSonarAnimation {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

.aeriusCalculatorTitle {
  color: colorTextDark;
}

.aeriusScenarioTitle {
  color: #777D33;
}

.mainMenuListSwitch, .mainMenuListSwitch:hover, .mainMenuListSwitch:active {
  text-align: left;
  background: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: #2C4996 !important;
}

.mainMenuListPopup {
  margin-left: 10px;
  margin-top: -1px;
  width: 130px;
}

.noContentStyle {
  padding: 10px;
  color: colorTextAlternative;
}

.outerSonar {
  animation: outerSonarAnimation 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  -webkit-animation: outerSonarAnimation 0.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  
  margin-top: -100px !important;
  margin-left: -100px !important;
  width: 198px !important;
  height: 198px !important;
  background-color: rgba(0, 161, 213, 0.2);
  border: 1px solid rgba(10, 64, 104, 0.2);
  border-radius: 99px;
}

@keyframes sonarAnimation {
  from {
    margin: 83px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(10, 64, 104, 1) 0px 0px 0px, inset rgba(10, 64, 104, 1) 0px 0px 0px;
  }
  
  to {
    margin: 29px;
    width: 140px;
    height: 140px;
    border-radius: 100px;
    box-shadow: rgba(10, 64, 104, 0) 0px 0px 50px, inset rgba(10, 64, 104, 0) 0px 0px 30px;
  }
}

@-webkit-keyframes sonarAnimation {
  from {
    margin: 83px;
    width: 30px;
    height: 30px;
    -webkit-box-shadow: rgba(10, 64, 104, 1) 0px 0px 0px, inset rgba(10, 64, 104, 1) 0px 0px 0px;
  }
  
  to {
    margin: 29px;
    width: 140px;
    height: 140px;
    border-radius: 100px;
    -webkit-box-shadow: rgba(10, 64, 104, 0) 0px 0px 50px, inset rgba(10, 64, 104, 0) 0px 0px 30px;
  }
}

.animationSonar {
  animation: sonarAnimation 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 4;
  -webkit-animation: sonarAnimation 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 4;
  position: absolute;
  
  margin: 83px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.sonar {
  /* outerSonarWidth / 2 - borderThickness - sonarWidth / 2 */
  margin: 80px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 3px solid rgba(10, 64, 104, 1);
}

.innerSonar {
  margin: 0px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 3px solid white;
}

.markerSite {
  border: 4px solid black;
  border-radius: 23px;
  min-width: 33px;
}

.markerSite > * {
  display: inline-block;
}

.markerSiteText {
  line-height: 33px;
  font-size: 20px;
  color: white;
  vertical-align: top;
  margin-left: 10px;
}

.markerIcon {
  margin-top: 3px;
  margin-left: 3px;
}

.attachedPopupPanel {
  z-index: zIndexAttachedPopup;
}

.columnWidth {
  width: 60px;
}

.calculatorRow {
  margin-bottom: 9px;
}

.layoutRow {
  margin-bottom: 14px;
}

.calculatorLabel {
  line-height: rowHeight;
}

.defaultPanel {
  margin: 0px 20px 0px 20px;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.defaultPanel > * {
  min-height: 0px;
  min-width: 0;
  flex-shrink: 0;
}

.fontColorAlternative {
  color: colorTextAlternative;
}

.number, .number > * {
  font-family: RO-Sans-lf, RO-Sans-Text, Arial, Sans-Serif;
}

.unicode, .unicode > * {
  font-family: "Lucida Sans Unicode", "Arial Unicode MS";
}

.sectorIconImage {
  border: 2px solid black;
  border-radius: 10px;
}

.subActivityTitle {
  margin: 20px 20px 12px 20px;
}

/* These 2 (columns) are the same, this may change in the future but it's best if it doesn't. */
.sourceDetailCol1 {
  box-sizing: border-box;
  line-height: rowHeight;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  white-space: normal; /* in some panels the panel has white-space: nowrap. Use normal here to go back to normal use */
  margin-right: 5px;
}
.sourceDetailCol1Var {
  box-sizing: border-box;
  line-height: rowHeight;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  white-space: normal; /* in some panels the panel has white-space: nowrap. Use normal here to go back to normal use */
  margin-right: 5px;
}
.sourceDetailCol2 {
  box-sizing: border-box;
  line-height: rowHeight;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  white-space: normal; /* in some panels the panel has white-space: nowrap. Use normal here to go back to normal use */
  margin-left: 5px;
}
.sourceDetailCol2Var {
  box-sizing: border-box;
  line-height: rowHeight;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  white-space: normal; /* in some panels the panel has white-space: nowrap. Use normal here to go back to normal use */
  margin-left: 5px;
}
.sourceDetailCol3Var {
  box-sizing: border-box;
  line-height: rowHeight;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 33%;
  flex-basis: 33%;
  white-space: normal; /* in some panels the panel has white-space: nowrap. Use normal here to go back to normal use */
  margin-right: 10px;
}
.sourceDetailCol4Var {
  box-sizing: border-box;
  line-height: rowHeight;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  white-space: normal; /* in some panels the panel has white-space: nowrap. Use normal here to go back to normal use */
  margin-right: 10px;
}

select.sourceDetailCol2, select.sourceDetailCol2Var {
  height: 33px;
}
.inputLikeSelect {
  border: 1px solid colorBorder;
  border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: none !important;
  padding: 0 5px;
  box-sizing: border-box;
  height: 33px;
}

.resultTypeListBox {
  height: 37px;
  width: 50%;
  vertical-align: top;	
  padding: 6px;
}

.primaryButton {
  font-weight: bold;
}

.flexButton {
  margin: 0px 5px;
  width: 100%;
  
}
.flexButton:first-child {
  margin-left: 0px;
}
.flexButton:last-child {
  margin-right: 0px;
}

@sprite .zoomColumn {
  gwt-image: "layerZoomExtent";
  outline: 0;
  float: right;
  opacity: 0.5;
}
.zoomColumn:hover {
  opacity: 1;
}

@sprite .inputWithCalculatorButton {
  gwt-image: "calculatorNormal";
  margin-left: 5px;
  max-width: 35px;
  min-width: 35px;
}
@sprite .inputWithCalculatorButton:hover {
  gwt-image: "calculatorActive";
}

.inputWithCalculator{
  
}
.inputWithUnit {
  position: relative;
  box-sizing: border-box;
}

.inputWithUnit input {
  box-shadow: none;
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
  padding: 0px;
  width: 100%;
}

.inputWithUnitName {
  position: absolute;
  right: 5px;
  top: 0px;
  line-height: rowHeightWithBorder;
}

.toolButton input, .radioGroupButton input {
  display: none;
}
.toolButton input + label {
  width: 52px !important;
  height: 33px !important;
}
.radioGroupButton label {
  width: initial !important;
  height: initial !important;
}
.flexGroup .radioGroupButton label, .flexGroup .toolButton {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.toolButton input:checked + label, .radioGroupButton input:checked + label {
  background-color: colorBorder;
}
.radioGroupButton label, .toolButton label {
  padding: 8px 26px;
  cursor: pointer;
}

@sprite .toolPoint input + label {
  gwt-image: "buttonPoint";
}
@sprite .toolPoint input:checked + label {
  gwt-image: "buttonPointActive";
}
@sprite .toolPoint input:disabled + label {
  gwt-image: "buttonPointInactive";
}

@sprite .toolLine input + label {
  gwt-image: "buttonLine";
}
@sprite .toolLine input:checked + label {
  gwt-image: "buttonLineActive";
}
@sprite .toolLine input:disabled + label {
  gwt-image: "buttonLineInactive";
}

@sprite .toolPolygon input + label {
  gwt-image: "buttonPolygon";
}
@sprite .toolPolygon input:checked + label {
  gwt-image: "buttonPolygonActive";
}
@sprite .toolPolygon input:disabled + label {
  gwt-image: "buttonPolygonInactive";
}

@sprite .toolEdit input + label {
  gwt-image: "buttonEdit";
}
@sprite .toolEdit input:checked + label {
  gwt-image: "buttonEditActive";
}
@sprite .toolEdit input:disabled + label {
  gwt-image: "buttonEditInactive";
}

@sprite .habitatKDWLegend {
  gwt-image: "habitatKDWLegend";
}

.listButton {
  height: rowHeight;
  position: relative;
}

.listButtonPopup {
  z-index: zIndexGeneric;
  background-color: white;
  border: 1px solid colorBorder;
}

.listButtonItem {
  padding: 5px 5px;
  text-align: left;
  cursor: pointer;
}

.listButtonItem:hover {
  background-color: colorSelected;
}

@external popupContent;
.layerListButtonItemSelection .popupContent {
  max-height: 300px;
  overflow-y: auto;
}

.sourceRow {
  font-family: RO-Sans-lf, RO-Sans-Text, Arial, Sans-Serif;
  width: 39px;
  height: 31px;
  line-height: 36px;
  color: white;
  border-radius: 10px;
  background-color: colorSourceBackgroundDefault;
  border: 3px solid black;
  text-align:center;
  font-size: 19px;
  font-weight: bold;
}

.infoPopupPanel {
  background-color: white;
  border: 1px solid colorBorder;
  border-radius: 4px;
  box-shadow: 0px 2px 10px -1px #000;
  width: 338px;
}

.infoMarkerContainer {
  position: absolute;
}

.sourceMarkerContainer {
  position: absolute;
  color: white;
}

.sourceMarkerArrow {
  border-style: solid;
  border-width: 0px sourceMarkerArrowWidth sourceMarkerArrowWidth 0px;
  border-color: transparent black transparent transparent;
  float: left;
  margin-right: -7px;
}

.depositionMarkerContainer {
  position: absolute;
}

.depositionMarkerArrow {
  border-style: solid;
  border-width: sourceMarkerArrowWidth sourceMarkerArrowWidth 0px 0px;
  border-color: black transparent transparent transparent;
  float: right;
}

.depositionMarkerItems {
  color: black;
  position: absolute;
  right: sourceMarkerArrowWidth;
  top: 0px;
}

.shipRouteMarker {
  font-family: RO-Sans-lf, RO-Sans-Text, Arial, Sans-Serif;
  width: 10px;
  padding: 0px 5px;
  height: shippingRouteMarkerSize;
  line-height: 20px;
  background-color: colorShipMarkerBackground;
  text-align:center;
  border: solid white;
  border-width: 0px;
  float: left;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  color: white;
  border-radius: 20px;
}

.sourceMarker {
  font-family: RO-Sans-lf, RO-Sans-Text, Arial, Sans-Serif;
  min-width: sourceMarkerWidth;
  max-width: sourceMarkerMaxWidth;
  padding: 0px 5px;
  height: 30px;
  line-height: 32px;
  background-color: colorSourceBackgroundDefault;
  text-align:center;
  border: solid black;
  border-width: 3px 0 3px 2px;
  float: left;
  font-size: 19px;
  font-weight: bold;
  white-space: nowrap;
}

.sourceMarker div {
  font-family: RO-Sans-lf, RO-Sans-Text, Arial, Sans-Serif;
}

.sourceMarkerComparable {
  line-height: 22px;
}

.sourceMarker:first-child {
  border-left: 3px solid black;
}
.sourceMarker:last-child {
  border-right: 3px solid black;
}
.sourceMarker:first-child  {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sourceMarker:last-child  {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.depositionMarker {
  font-family: RO-Sans-lf, RO-Sans-Text, Arial, Sans-Serif;
  min-width: sourceMarkerWidth;
  max-width: sourceMarkerMaxWidth;
  padding: 0px 5px;
  height: 30px;
  line-height: 32px;
  background-color: colorSourceBackgroundDefault;
  text-align:center;
  border: solid black;
  border-width: 3px 0 3px 2px;
  float: left;
  font-size: 19px;
  font-weight: bold;
  white-space: nowrap;
}

.depositionMarker div {
  font-family: RO-Sans-lf, RO-Sans-Text, Arial, Sans-Serif;
}

.depositionMarker:last-child {
  border-left: 3px solid black;
}
.depositionMarker:first-child {
  border-right: 3px solid black;
}
.depositionMarker:last-child  {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.depositionMarker:first-child  {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@sprite .buttonProfile {
  gwt-image: "buttonProfile";
}
@sprite .buttonProfile:active {
  gwt-image: "buttonProfileActive";
}
@sprite .buttonProfileActive {
  gwt-image: "buttonProfileActive";
}
@sprite .buttonProfile:disabled {
  gwt-image: "buttonProfileInactive";
}
@sprite .buttonLogout {
  gwt-image: "buttonLogout";
}
@sprite .buttonLogout:active {
  gwt-image: "buttonLogoutActive";
}
@sprite .buttonLogout:disabled {
  gwt-image: "buttonLogoutInactive";
}  
@sprite .buttonRefresh {
  gwt-image: "buttonRefresh";
}
@sprite .buttonRefresh:active {
  gwt-image: "buttonRefreshActive";
}
@sprite .buttonRefresh:disabled {
  gwt-image: "buttonRefreshInactive";
}
@sprite .buttonExport {
  gwt-image: "exportButtonNormal";
}
@sprite .buttonExport:active {
  gwt-image: "exportButtonActive";
}
@sprite .buttonExport:disabled {
  gwt-image: "exportButtonInactive";
}
@sprite .buttonUpload {
  gwt-image: "buttonUploadNormal";
}
@sprite .buttonUpload:active {
  gwt-image: "buttonUploadActive";
}
@sprite .buttonUpload:disabled {
  gwt-image: "buttonUploadInactive";
}
@sprite .buttonNotificationsBlock {
  gwt-image: "notificationRectangularCloseNormal";
}
@sprite .buttonNotificationsBlock:active {
  gwt-image: "notificationRectangularCloseActive";
}
@sprite .buttonNotificationsBlock:disabled {
  gwt-image: "notificationRectangularCloseInactive";
}

@sprite .buttonCopy {
  gwt-image: "buttonCopy";
}
@sprite .buttonCopy:active {
  gwt-image: "buttonCopyActive";
}
@sprite .buttonCopy:disabled {
  gwt-image: "buttonCopyInactive";
}

@sprite .buttonDelete {
  gwt-image: "buttonDelete";
}
@sprite .buttonDelete:active {
  gwt-image: "buttonDeleteActive";
}
@sprite .buttonDelete:disabled {
  gwt-image: "buttonDeleteInactive";
}

@sprite .buttonDeleteSmall {
  gwt-image: "buttonDeleteSmall";
  min-width: 33px;
}
@sprite .buttonDeleteSmall:active {
  gwt-image: "buttonDeleteSmallActive";
}
@sprite .buttonDeleteSmall:disabled {
  gwt-image: "buttonDeleteSmallInactive";
}

@sprite .buttonDeleteXSmall {
  gwt-image: "buttonDeleteXSmall";
}
@sprite .buttonDeleteXSmall:active {
  gwt-image: "buttonDeleteXSmallActive";
}
@sprite .buttonDeleteXSmall:disabled {
  gwt-image: "buttonDeleteXSmallInactive";
}

@sprite .buttonEditXSmall {
  gwt-image: "buttonEditXSmall";
}
@sprite .buttonEditXSmall:active {
  gwt-image: "buttonEditXSmallActive";
}
@sprite .buttonEditXSmall:disabled {
  gwt-image: "buttonEditXSmallInactive";
}

@sprite .buttonEditSmall {
  gwt-image: "buttonEditSmall";
}
@sprite .buttonEditSmall:active {
  gwt-image: "buttonEditSmallActive";
}
@sprite .buttonEditSmall:disabled {
  gwt-image: "buttonEditSmallInactive";
}

@sprite .buttonEdit {
  gwt-image: "buttonEdit";
}
@sprite .buttonEdit:active {
  gwt-image: "buttonEditActive";
}
@sprite .buttonEdit:disabled {
  gwt-image: "buttonEditInactive";
}

@sprite .buttonViewXSmall {
  gwt-image: "buttonViewXSmall";
}
@sprite .buttonViewXSmall:active {
  gwt-image: "buttonViewXSmallActive";
}
@sprite .buttonViewXSmall:disabled {
  gwt-image: "buttonViewXSmallInactive";
}
@sprite .buttonView {
  gwt-image: "buttonView";
}
@sprite .buttonView:active {
  gwt-image: "buttonViewActive";
}
@sprite .buttonView:disabled {
  gwt-image: "buttonViewInactive";
}

@sprite .buttonDate {
  gwt-image: "buttonDate";
}
@sprite .buttonDate:active {
  gwt-image: "buttonDateActive";
}
@sprite .buttonDate:disabled {
  gwt-image: "buttonDateInactive";
}

@sprite .buttonLayers {
  gwt-image: "buttonLayers";
}

@sprite .buttonSwitch {
  gwt-image: "buttonSwitchNormal";
  outline: none;
  padding: 0px !important;
  margin: 0px -3px 0 -6px !important;
  border: 1px solid transparent;
  border-bottom: none;
}

@sprite .buttonSwitch:active {
  gwt-image: "buttonSwitchActive";
}

@sprite .buttonSwitch:hover {
  gwt-image: "buttonSwitchHover";
  border-left: 1px solid colorBorderDialog;
  border-top: 1px solid colorBorderDialog;
  border-right: 1px solid colorBorderDialog;
}

@sprite .buttonDownload {
  gwt-image: "fileiconPdf";
  border: 1px solid transparent;
}
@sprite .buttonDownload:hover {
  gwt-image: "fileiconPdf";
  border: 1px solid transparent;
}

@sprite .buttonDownloadMaps {
  gwt-image: "fileiconMaps";
  border: 1px solid transparent;
}
@sprite .buttonDownloadMaps:hover {
  gwt-image: "fileiconMaps";
  border: 1px solid transparent;
}

.sourcesListEmissionColumn {
  text-align: right;
  padding-right: 5px !important;
}

.dynamicRows > div:last-child .buttonDeleteSmall {
  visibility: hidden;
}

.collapsibleDivTableRow {
}

.collapsiblePanel {
  box-shadow: 0px 0px 2px #464646;
  position: relative;
  min-height: 34px;
}

.collapsiblePanelHeader {
  padding: 5px;
  align-items: center;
}

.collapsiblePanelHeaderLabel {
  margin-left: 10px;
  font-weight: bold;
  min-height: 23px;
  line-height: 23px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-user-select: none;
  user-select: none;
}

.inputCollapsibleContent {
  padding: 0px 10px;
}

.collapsibleContent {
}

.collapsibleContentAnimated {
  transition: height 0.12s ease-out;
}

.categorizedEmissionRow {
  line-height: rowHeight;
  position: relative;
}

.categorizedEmissionAmount {
  min-width: 40px;
  margin: 0px 10px;
  height: rowHeightWithBorder;
}

.mobileEmissionRow .categorizedEmissionAmount {
  width: 70px;  
}

.animalEmissionCategory {
  width: 149px;
}

.animalReductiveEmissionDescription {
  width: 250px;
}

.calculatorFarmEmissionTable {
  width: 100%;
}

.mobileEmissionListBox {
  width: 120px;
  height: rowHeight;
}

.mobileEmissionListBoxContainer {
  vertical-align: middle;
  display: inline-block;
}

.calculatorFarmEmissionSubstance {
  margin-left: 20px;
}

.calculatorFarmEmissionTableEmission {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 6px;
}

.shipRouteListItem {
  line-height: rowHeight;
  text-align: left;
  padding-left: 10px;
  width: 144px;
}

.inputPlaceHolder {
}

@if user.agent ie8 ie9 {
  .inputPlaceHolder {
    font-style: italic;
    color: colorBorder !important;
  }
}

.mapSearchPanel {
  position: absolute;
  top: 20px;
  right: 110px;
}

.searchPanel {
  z-index: zIndexSearchPanel;
}

.notificationPanel {
  z-index: zIndexSearchPanel;
  top: 20px;
  right: 60px;
}

/*  OpenLayers additional styles */
@external olControlMousePositionActive;
@if user.agent ie8 ie9 {
  .calculatorSelectLocation .olControlMousePositionActive {
    cursor: url(images/draw-points.cur), pointer;
  }
} @else {
  .calculatorSelectLocation .olControlMousePositionActive {
    cursor: url(images/draw-points.png) 16 16, pointer;
  }
}

@external olMapViewport;
.olMapViewport {
  background-color: colorMapBackground;
}

.layerWidgetDragPositioner {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  clear: both;
  cursor: pointer;
  line-height: 32px;
  outline: none;
  width: 100%;
}

.buttonYearSelection {
  width: 70px;
}

@external popupContent;
.buttonYearSelection .popupContent {
  max-height: 200px;
  overflow-y: auto;
}

.buttonSubstanceSelection {
  width: 200px;
}

@sprite .buttonLayerPanel {
  gwt-image: "buttonMapLayers";
}
@sprite .buttonLayerPanel:active {
  gwt-image: "buttonMapLayersActive";
}
@sprite .buttonLayerPanelActive {
  gwt-image: "buttonMapLayersActive";
}
@sprite .buttonLayerPanel:disabled {
  gwt-image: "buttonMapLayersInactive";
}
@sprite .buttonMetaPanel {
  gwt-image: "buttonMetaNormal";
}
@sprite .buttonMetaPanel:active {
  gwt-image: "buttonMetaActive";
}
@sprite .buttonMetaPanelActive {
  gwt-image: "buttonMetaActive";
}
@sprite .buttonMetaPanel:disabled {
  gwt-image: "buttonMetaInactive";
}
@sprite .buttonInfoPanel {
  gwt-image: "buttonInfo";
}
@sprite .buttonInfoPanel:active {
  gwt-image: "buttonInfoActive";
}
@sprite .buttonInfoPanelActive {
  gwt-image: "buttonInfoActive";
}
@sprite .buttonInfoPanel:disabled {
  gwt-image: "buttonInfoInactive";
}
@sprite .buttonOptionsPanel {
  gwt-image: "buttonSettingsNormal";
}
@sprite .buttonOptionsPanel:active {
  gwt-image: "buttonSettingsActive";
}
@sprite .buttonOptionsPanelActive {
  gwt-image: "buttonSettingsActive";
}
@sprite .buttonLegendPanel {
  gwt-image: "buttonLegend";
}
@sprite .buttonLegendPanel:active {
  gwt-image: "buttonLegendActive";
}
@sprite .buttonLegendPanelActive {
  gwt-image: "buttonLegendActive";
}
@sprite .buttonLegendPanel:disabled {
  gwt-image: "buttonLegendInactive";
}

.textOverflowEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sliderKnob {
  user-select: none;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  width: 29px;
  height: 29px;
  line-height: 29px;
  text-align: center;
}

.sliderKnobLabelDisabled {
  color: #9A9A9A;
}

.infoPanelItem {
  border-bottom: 1px solid colorBorder;
  border-left: none;
  border-right: none;
}

.verticalText {
  transform: rotate(-90deg) translate(0, 100%);
  transform-origin: 0% 100%;
}
@if user.agent ie8 ie9 {
  .verticalText {
    writing-mode: tb-lr;
    text-align: right;
  }
}
@else {
  .verticalText {
    text-align: left;
  }
}

.graphLabel {
  color: #ADADAD;
}

.confirmCancelDialog {
  background-color: white;
  border: 1px solid colorBorderDialog;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px colorSelected;
  padding: 10px 40px 40px 40px;
  z-index: zIndexGeneric;
}

@External Caption;
.confirmCancelDialog .Caption {
}

.confirmCancelDialogButtons {
  width: 100%;
}

.confirmCancelDialogButtons button {
  width: 45%;
}

.confirmCancelDialogButtons button:first-child {
  margin-right: 10%;
}

.confirmCancelDialogLoadingImage {
  position: absolute;
  right: 40px;
  top: 25px;
}

.buttonAttachedPopupClose {
  float: right;
}

@sprite .closeButton {
  outline: none !important;
  border: none !important;
  cursor: pointer;
  gwt-image: "notificationCloseNormal";
}

@sprite .closeButton:hover {
  gwt-image: "notificationCloseHover";
}

@sprite .closeButton:active {
  gwt-image: "notificationCloseActive";
}

.notificationListPanel {
  overflow-y: auto;
  border: 1px solid colorSelected;
  width: 315px;
  border-radius: 5px;
  box-shadow: 0 0 12px 5px colorSelected;
}

.helpPopupPanel {
  z-index: zIndexHelpPopup;
  max-width: 300px;
}

.helpPopupPanelContent {
  margin-top: -1px;
  padding: 10px;
  border: 1px solid colorHelpBorder;
  background-color: colorHelpContent;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

.helpPopupPanelContent .link {
  margin-top: 9px;
}

.helpPopupPanelContent a {
  font-style: italic;
  text-decoration: none;
  color: colorHelpContentText;
}

.helpPopupPanelContent a:hover {
  text-decoration: underline;
}

.errorPopupPanel {
  background-color: colorErrorContent;
  border: 1px solid colorErrorBorder; 
  border-radius: 4px;
  box-shadow: 5px 5px 5px colorBorderDialog;
  padding: 15px;
  z-index: zIndexValidationPopup;
}

@external gwt-Image;
.errorPopupPanel .gwt-Image {
  float: left;
}

@external gwt-HTML;
.errorPopupPanel .gwt-HTML {
  padding-left: 40px;  
}

.errorInput {
  border: 1px solid colorErrorBorder !important; 
  color: colorErrorBorder !important;
  border-radius: 2px;
  border-box: box-sizing;
}

.toggleButton {
  border-radius: 2px;
  background: -moz-linear-gradient(#DBE1E1, #FFFFFF);
  box-shadow: 1px 1px 0 #fff inset;
}
.toggleButton span {
  background: linear-gradient(#8FA2A2, #DBE1E1);
}

.substanceToggleButton {
  border-radius: 2px;
  background: -moz-linear-gradient(#BBB 0%, #F7F7F7 45%);
  box-shadow: 1px 1px 0 #fff inset;
}
.substanceToggleButton div {
  background: -moz-linear-gradient(#8FA2A2, #DBE1E1);
}

.substanceToggleButton {
  border: 1px solid colorBorder;
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  line-height: 25px;
  margin: 12px 5px;
  position: relative;
  white-space: nowrap;
  width: 190px;
}

.substanceToggleButton label {
  border: 1px solid colorBorder;
  border-radius: 4px;
  color: colorLabelFont;
  cursor: pointer;
  height: 18px;
  margin: 0px;
  text-align: center;
  text-shadow: 0 1px 0 white;
}

.substanceToggleButton div {
  background: linear-gradient(#DBE1E1, #B8C6C5);
  box-shadow: 7px 2px 11px -4px #888 inset, -7px 2px 11px -4px #888 inset;
  color: #666;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  -webkit-user-select: none;
  vertical-align: top;
}

.substanceToggleButton input[type="checkbox"] { 
  display: inline; /* Undo inherited display:none because checkbox needs to get focus... */ 
  opacity: 0;      /* ..but do hide the checkbox from view */ 
  z-index: -1;
  overflow: hidden;
  position: absolute;
}

.substanceToggleButton input[type="checkbox"] + label {
  border: 1px solid colorBorder;
  outline: none;
  margin: -1px;
  height: 25px;
  border-radius: 4px;
  background: none;
  display: inline-block;
  float: right;
  width: 50%;
}

.substanceToggleButton input[type="checkbox"] + label:hover {
  border: 1px solid colorBorderHover;
}

.substanceToggleButton input[type="checkbox"] + label:hover + div {
  border-left: 1px solid colorBorderHover;
  margin-left: -1px;
}

.substanceToggleButton input[type="checkbox"]:checked + label:hover + div {
  border-left: none;
  margin-left: 0px;
}

.substanceToggleButton input[type="checkbox"]:focus {
    outline: none; /* Focus is displayed on the descended label element */
}

.substanceToggleButton input[type="checkbox"]:focus + label {
  border: 1px dotted colorBorderHover;
}

.substanceToggleButton input[type="checkbox"]:focus + label + div {
  border-left: 1px dotted colorBorderHover;
  margin-left: -1px;
}

.substanceToggleButton input[type="checkbox"]:checked:focus + label + div {
  border-left: none;
  margin-left: 0px;
}

.substanceToggleButton input[type="checkbox"]:checked + label {
  float: left;
  margin-left: 0;
}

.substanceToggleButton input[type="checkbox"]:checked + label + div {
}

.substanceToggleButton input[type="checkbox"]:disabled + label {
}

.substanceSelectionButtonLabel {
  padding-right: 5px;
}
.emissionValueTypeSelectionButtonLabel span:first-child {
  color: substanceButtonTextColor;
  background-color: substanceButtonBackgroundColor;
  padding: 2px 5px 3px 5px;
  border-radius: 3px;
  font-size: 12px;
  vertical-align: top;
  box-shadow: 1px 1px #D3DEDE;
}

.toggleButton {
  border: 1px solid colorBorder;
  border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  line-height: 21px;
  margin-left: 5px;
  position: relative;
  white-space: nowrap;
  width: 57px;
}

.toggleButton label {
  border: 1px solid colorBorder;
  box-shadow: 0 1px 0 #fff inset;
  border-radius: 2px;
  color: colorLabelFont;
  cursor: pointer;
  font-size: 20px;
  height: 15px;
  margin: 0px;
  text-align: center;
  text-shadow: 0 1px 0 white;
}

.toggleButton label:focus {
  outline: 0;
}

.toggleButton span {
  background: linear-gradient(#DBE1E1, #B8C6C5);
  color: #666;
  display: inline-block;
  height: 22px;
  text-align: center;
  width: 57%;
}

.toggleButton input[type="checkbox"] { 
  display: inline; /* Undo inherited display:none because checkbox needs to get focus... */ 
  opacity: 0;      /* ..but do hide the checkbox from view */ 
  z-index: -1;
  overflow: hidden;
  position: absolute;
}

.toggleButton input[type="checkbox"] + label {
  border: 1px solid colorBorder;
  margin: -1px;
  height: 22px;
  border-radius: 2px;
  background: none;
  display: inline-block;
  float: left;
  width: 43%;
}

.toggleButton input[type="checkbox"] + label:hover {
  border: 1px solid colorBorderHover;
}

.toggleButton input[type="checkbox"] + label:hover + span {
  border-left: 1px solid colorBorderHover;
  margin-left: -1px;
}

.toggleButton input[type="checkbox"]:checked + label:hover + span {
  border-left: none;
  margin-left: 0px;
}

.toggleButton input[type="checkbox"]:focus {
	outline: none; /* Focus is displayed on the descended label element */
}

.toggleButton input[type="checkbox"]:focus + label {
  border: 1px dotted colorBorderHover;
}

.toggleButton input[type="checkbox"]:focus + label + span {
  border-left: 1px dotted colorBorderHover;
  margin-left: -1px;
}

.toggleButton input[type="checkbox"]:checked:focus + label + span {
  border-left: none;
  margin-left: 0px;
}

.toggleButton input[type="checkbox"]:checked + label {
  float: right;
  margin-left: 0;
}

.toggleButton input[type="checkbox"]:checked + label + span {
  color: white;
  background: #5691c8;
}

.toggleLabelButton {
  float: right;
  margin: -30px 5px 0px 0px;
}

.toggleButton input[type="checkbox"]:disabled + label {
}

@external gwt-TabBarItem;
@external gwt-TabBarItem-selected;
@external gwt-TabPanelBottom;
@external gwt-TabBarFirst;

.tabPanel {
  padding-left: 15px;
  border-bottom: 1px solid colorBorderDialog;
  margin-bottom: 10px;
}
.tabPanel2 .gwt-TabBarFirst {
  width: 20px;
}

.tabPanelItemLocked {
  color: #888;
  font-style: italic;
  cursor: default;
}

.tabPanelItem, .tabPanel2 .gwt-TabBarItem {
  margin: 0px 5px -1px 2px;
  display: inline-block;
  line-height: 31px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  vertical-align: top;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: background-color 5.25s ease-out;
  background-color: transparent;
}

.tabPanelItemFocus, .tabPanel2 .gwt-TabBarItem-selected {
  border-bottom: 1px solid #FFF;
  border-left: 1px solid colorBorderDialog;
  border-top: 1px solid colorBorderDialog;
  border-right: 1px solid colorBorderDialog;
  background-color: white;
}
.tabPanel2 .gwt-TabPanelBottom {
  border-top: 1px solid colorBorderDialog;
  padding: 15px 20px 0 20px;
}

.underlineSolid {
  border-bottom: 1px solid white;
}

.underlineSolidDark {
  border-bottom: 1px solid black;
}

.underlineDotted {
  border-bottom: 1px dotted white;
}

.underlineDottedDark {
  border-bottom: 1px dotted black;
}

.underlineDashed {
  border-bottom: 1px dashed white;
}

.underlineDashedDark {
  border-bottom: 1px dashed black;
}

.comparisonListNumberSources {
  text-align: right;
}

.comparisonListEmission {
  text-align: right;
  padding-right: 5px !important;
}

.textLegend {
  padding-left: 10px;
}

.imagesLegendLabel {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    line-height: 36px;
    max-width: 90%;
  }

.whileDragging {
  opacity: 0.5; 
}

.comparisonListNegative {
  color: red;
}

.negativeValue {
	color: red;
}

.emissionSourceViewContainer {
  min-width: 230px;
  margin-bottom: 10px;
}

.emissionSourceViewTitle {
  font-weight: bold;
}

.emissionSourceViewCol1 {
  display: inline-block;
  width: 160px;
}

.emissionSourceViewCol2 {
  display: inline-block;
  text-align: right;
  min-width: 68px;
  float: right; /* Floating because this is the only way for multiple panels that don't know about eachother to play nicely together. */
}

.emissionSourceViewRow {
  width: 100%;
}

.emptyPanelWithText {
  color: colorTextAlternative;
  margin: 10px;
}

@sprite .colorRangesColorCircle {
  gwt-image: "legendCircleOverlay32px";
  background-position: center center;
}
@sprite .colorRangesColorCircleSmall {
  gwt-image: "legendCircleOverlay16px";
  background-position: center center; 
}
@sprite .colorRangesColorHexagon {
  gwt-image: "legendHexagonOverlay32px";
  background-position: center center;
}
@sprite .colorRangesColorHexagonSmall {
  gwt-image: "legendHexagonOverlay16px";
  background-position: center center; 
}

.layerPanelListBox {
  width: 100%;
  height: 30px;
  padding: 4px;
  margin-top: 5px;
  outline: none;
}

.layerPanelList {
  width: 180px;
  background-color: colorPopupTitleBackground;
}

.layerPanelList div {
  border-bottom: 1px solid colorBorderDialog;
}

.layerLegendDialogContent {
}

.layerNotVisible {
  font-style: italic;
  color: gray;
}

.cursorPointer {
  cursor: pointer;
}

.cursorDefault {
  cursor: default;
}
.registerPermitRule {
  margin: 5px 0;
  clear: both;
}

.registerEditableIndicator {
  cursor: pointer;
}

.registerEditableIndicator:hover {
  background-color: #FFF899;
}

.registerPermitRule img {
  float: left;
  margin: 0 10px 10px 0;  
}
.calculatorThemeSwitch {
background: #84b1d6 !important;
}
.calculatorThemeSwitch:hover {
background: #769FC0 !important;
}

.divTableDataPanel {
  overflow: auto;
  min-height: 0px;
}

.divTableRowPanel {  
}

.sectorDepositionGraphWidgetInnerTable .divTableRowPanel {
  overflow: hidden;
}

.adminTable, .divTable {
  box-shadow: 0px 0px 2px #464646;  
}

.adminTable .divTableHeader {
  background-color: colorTableHeader;
  border-bottom: 1px solid colorBorder;
  font-weight: bold;
}

.adminTable .divTableRow {
  border-bottom: 1px solid colorBorder;
}

.adminTable .divTableRow:last-child {
  border-bottom: none;
}

.adminTable .divTableFooter {
}

.sectorNonCollapsibleRow {
  padding: 6px 0 4px 30px;
  margin-top: 2px;
}

.waitingPanel {
  text-align: center;
  padding: 30px;  
}

.suggestionWarning {
  color: colorSuggestionWarning;
}

.suggestionWarningBox {
  border: solid 1px colorSuggestionWarning;
}

.farmContextColumnValue {
  flex-basis: 90px;
}

.registerReviewHeaderIcon {
  margin: 0px 10px;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

.registerReviewHeaderIconAvailable, .registerReviewHeaderIconReserved {
  color: white;
  background-color: rgb(78, 103, 160);
  border: 3px solid rgb(78, 103, 160);
  border-radius: 50%;
}

.registerReviewHeaderIconRequested, .registerReviewHeaderIconAssigned {
  color: rgb(78, 103, 160);
  background-color: white;
  border: 3px solid rgb(78, 103, 160);
  border-radius: 50%;
}

.registerReviewHeaderIconRemaining {
  color: rgb(78, 103, 160);
  background-color: rgb(147, 186, 243);
  border: 3px solid rgb(147, 186, 243);
  border-radius: 50%;
}

.buttonDeleteLeftAligned {
	order: -1;
}
.colorPicker {
  width: 275px;
}

.noBoxShadow, .noBoxShadow:hover {
  box-shadow: none;
}

.textAlignRight {
  text-align: right;
}

.breakWord {
  word-wrap: break-word;
}

@sprite .buttonMarked {
  gwt-image: "buttonMarked";
}
@sprite .buttonMarked:disabled {
  gwt-image: "buttonMarkedInactive";
}
@sprite .buttonUnmarked {
  gwt-image: "buttonUnmarked";
}
@sprite .buttonUnmarked:disabled {
  gwt-image: "buttonUnmarkedInactive";
}
