.splash {
  background: rgb(80, 34, 99);
  background: linear-gradient(rgb(64,35,98), rgb(106,34,99));
  background: -o-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
  background: -moz-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
  background: -webkit-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
  background: -ms-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
}

#splash .logo {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Layer_1' x='0px' y='0px' width='140px' height='31px' viewBox='0 0 140 31' enable-background='new 0 0 140 31' xml:space='preserve'><polygon fill='%23FFFFFF' points='115.076 5.554 117.894 0.685 120.7 5.554 '/><path fill='%23FFFFFF' d='M123.017 8.97h-10.26c-3.156 0-5.713 2.554-5.713 5.711v10.266c0 3.151 2.557 5.704 5.713 5.704h2.323v-4.814h5.622v4.814h2.312c3.153 0 5.711-2.553 5.711-5.709V14.681C128.728 11.524 126.17 8.97 123.017 8.97zM115.076 19.395l2.817-4.87 2.807 4.87H115.076z'/><path fill='%23A91F64' d='M18.812 30.639h-4.528l-1.388-4.955H5.487l-1.388 4.955H0L6.447 8.953h5.983L18.812 30.639zM9.322 12.458H9.09L6.281 22.507h5.752L9.322 12.458z'/><path fill='%23C9739D' d='M21.658 8.953H33.03v3.273h-7.407v5.619h6.809v3.272h-6.809v6.246h7.504v3.272H21.658V8.953L21.658 8.953z'/><path fill='%23DBA3BF' d='M41.396 30.639H37.43V8.953h6.347c5.42 0 8.098 2.481 8.098 6.05 0 2.942-1.521 5.159-3.933 6.248l5.752 9.388h-4.63l-4.958-8.297h-2.709V30.639L41.396 30.639zM41.396 19.234h2.411c2.381 0 3.936-1.387 3.936-3.768 0-2.216-1.258-3.34-4.264-3.34h-2.083V19.234L41.396 19.234z'/><path fill='%23DBA3BF' d='M60.108 30.639h-3.967V8.953h3.967V30.639z'/><path fill='%23EBCDDD' d='M65.101 23.137V8.953h3.967v13.719c0 3.24 1.489 4.694 4.332 4.694 2.743 0 4.264-1.619 4.264-4.629V8.953h3.769v13.886c0 4.858-3.139 8.065-8.265 8.065C67.614 30.905 65.101 28.195 65.101 23.137z'/><path fill='%23FFFFFF' d='M84.675 27.041c2.115 0.396 3.669 0.527 5.52 0.527 3.008 0 4.662-1.32 4.662-2.874 0-1.39-0.662-2.217-3.273-3.107l-2.709-0.927c-2.547-0.859-3.935-2.678-3.935-5.455 0-3.771 3.043-6.479 8.362-6.479 1.555 0 3.108 0.131 4.596 0.429l-0.264 3.305c-1.587-0.297-2.874-0.431-4.528-0.431 -2.977 0-4.299 1.157-4.299 2.711 0 1.355 0.759 2.149 2.744 2.777l2.677 0.86c3.175 1.024 4.562 2.743 4.562 5.553 0 4.1-3.306 6.941-8.727 6.941 -1.984 0-3.505-0.065-5.388-0.398V27.041L84.675 27.041z'/><path fill='%23FFFFFF' d='M100.572 1.26c1.243 0 2.266 1.022 2.266 2.266 0 1.25-1.022 2.272-2.266 2.272 -1.249 0-2.271-1.022-2.271-2.272C98.301 2.282 99.323 1.26 100.572 1.26zM100.572 5.47c1.057 0 1.919-0.882 1.919-1.945 0-1.056-0.862-1.945-1.919-1.945 -1.062 0-1.925 0.889-1.925 1.945C98.647 4.588 99.51 5.47 100.572 5.47zM100.111 4.802h-0.395v-2.6h0.803c0.675 0 0.982 0.281 0.982 0.708 0 0.394-0.221 0.662-0.562 0.769l0.748 1.123h-0.48l-0.676-1.022h-0.421V4.802zM100.111 3.445h0.334c0.435 0 0.642-0.161 0.642-0.495 0-0.274-0.18-0.428-0.574-0.428h-0.401V3.445z'/></svg>");
  background-repeat:no-repeat;
}

#splash .dev {
  color: #bbd5e6;
}
