@import url('../fonts/rijksoverheidfonts.css');
/* CSS Document */
body,td,th {color: #FFF;font-family:"RO-Sans-Text", Arial}
html, body {width:100%;height:100%}
p {margin:0}
body {display:flex;align-items:center;justify-content:center;margin:0px;}
.container {background-color:white;width:600px;-webkit-border-radius: 4px;border-radius: 4px;box-shadow: 0px 0px 15px 5px rgba(91, 106, 104, .75); }
.form {text-align:center;height:220px;background:#fff;}
.message {background:#fff;}
.long {height:270px}
.min {text-align:center;padding-left:140px;}
.message p {color:#333;padding:0px 50px 30px 50px}
.errorMessage {padding-top:20px;padding-bottom:30px;}
.logo {display:inline-block;margin:32px 0px 0px 32px;width:320px;height:31px;}
.texts {padding:120px 20px 0 30px;clear:both;}
.textsmall {padding:30px 20px 0 30px;clear:both;}
.version {text-align:right;float:right;}
.dev {clear:both;font-size:.9em;color:#bbd5e6;padding-left:30px;padding-top:7px;padding-bottom:7px;}
.btn {display:inline-block;font-size:15px;background:linear-gradient(#DBE1E1, #B8C6C5) repeat scroll 0 0 transparent;padding:10px 0px;border:1px solid #bbb; -moz-border-radius: 2px;border-radius:2px;box-shadow: 0 1px 0 #FFFFFF inset;color: #333333;text-align: center;text-shadow: 0 1px 0 white;text-decoration:none;font-weight:bold;width:195px;margin:0 10px 10px 0}
.btn:hover {border:1px solid #4c4c4c}
.attribution {background-color:white;display:block;text-align:center;}
.attribution p {color: #888;text-size:1.2em;padding:10px 0px 20px;}
.provinces{display:block !important;text-align:center;}
h2 {font-family:"RO-Sans-Heading", Arial, Sans-Serif;font-size:22px;padding:14px 20px 0 32px;color:#5FA0D8;margin:0;font-weight:normal;margin-top:0}
.errorMessage h2 {background:url('../images/attention.png') no-repeat 30px 10px;padding:14px 20px 0 75px;height:45px;color:#d90000;}
