#splash .splash {
  background: #275835;
  background: linear-gradient(rgb(39,88,53), rgb(119,124,50));
  background: -o-linear-gradient(top, rgb(39,88,53) 0%, rgb(119,124,50) 100%);
  background: -moz-linear-gradient(top, rgb(39,88,53) 0%, rgb(119,124,50) 100%);
  background: -webkit-linear-gradient(top, rgb(39,88,53) 0%, rgb(119,124,50) 100%);
  background: -ms-linear-gradient(top, rgb(39,88,53) 0%, rgb(119,124,50) 100%);
}

#splash .logo {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" width="140" height="31" viewBox="0 0 140 31" enable-background="new 0 0 140 31" xml:space="preserve"><polygon fill="%23FFFFFF" points="115.08 5.55 117.89 0.69 120.7 5.55 "/><path fill="%23FFFFFF" d="M123.02 8.97h-10.26c-3.16 0-5.71 2.55-5.71 5.71v10.27c0 3.15 2.56 5.7 5.71 5.7h2.32v-4.81h5.62v4.81h2.31c3.15 0 5.71-2.55 5.71-5.71V14.68C128.73 11.52 126.17 8.97 123.02 8.97zM115.08 19.4l2.82-4.87 2.81 4.87H115.08z"/><path fill="%238C9158" d="M18.81 30.64h-4.53l-1.39-4.95H5.49l-1.39 4.96H0L6.45 8.95h5.98L18.81 30.64zM9.32 12.46H9.09L6.28 22.51h5.75L9.32 12.46z"/><path fill="%238C9158" d="M21.66 8.95H33.03v3.27h-7.41v5.62h6.81v3.27h-6.81v6.25h7.5v3.27H21.66V8.95L21.66 8.95z"/><path fill="%23B1B48B" d="M41.4 30.64H37.43V8.95h6.35c5.42 0 8.1 2.48 8.1 6.05 0 2.94-1.52 5.16-3.93 6.25l5.75 9.39h-4.63l-4.96-8.3h-2.71V30.64L41.4 30.64zM41.4 19.23h2.41c2.38 0 3.94-1.39 3.94-3.77 0-2.22-1.26-3.34-4.26-3.34h-2.08V19.23L41.4 19.23z"/><path fill="%23C1C3A5" d="M60.11 30.64h-3.97V8.95h3.97V30.64z"/><path fill="%23E2E4D4" d="M65.1 23.14V8.95h3.97v13.72c0 3.24 1.49 4.69 4.33 4.69 2.74 0 4.26-1.62 4.26-4.63V8.95h3.77v13.89c0 4.86-3.14 8.07-8.26 8.07C67.61 30.91 65.1 28.2 65.1 23.14z"/><path fill="%23FFFFFF" d="M84.68 27.04c2.12 0.4 3.67 0.53 5.52 0.53 3.01 0 4.66-1.32 4.66-2.87 0-1.39-0.66-2.22-3.27-3.11l-2.71-0.93c-2.55-0.86-3.93-2.68-3.93-5.45 0-3.77 3.04-6.48 8.36-6.48 1.56 0 3.11 0.13 4.6 0.43l-0.26 3.31c-1.59-0.3-2.87-0.43-4.53-0.43 -2.98 0-4.3 1.16-4.3 2.71 0 1.36 0.76 2.15 2.74 2.78l2.68 0.86c3.18 1.02 4.56 2.74 4.56 5.55 0 4.1-3.31 6.94-8.73 6.94 -1.98 0-3.5-0.06-5.39-0.4V27.04L84.68 27.04z"/><path fill="%23FFFFFF" d="M100.57 1.26c1.24 0 2.27 1.02 2.27 2.27 0 1.25-1.02 2.27-2.27 2.27 -1.25 0-2.27-1.02-2.27-2.27C98.3 2.28 99.32 1.26 100.57 1.26zM100.57 5.47c1.06 0 1.92-0.88 1.92-1.94 0-1.06-0.86-1.94-1.92-1.94 -1.06 0-1.92 0.89-1.92 1.95C98.65 4.59 99.51 5.47 100.57 5.47zM100.11 4.8h-0.39v-2.6h0.8c0.68 0 0.98 0.28 0.98 0.71 0 0.39-0.22 0.66-0.56 0.77l0.75 1.12h-0.48l-0.68-1.02h-0.42V4.8zM100.11 3.45h0.33c0.44 0 0.64-0.16 0.64-0.49 0-0.27-0.18-0.43-0.57-0.43h-0.4V3.45z"/></svg>');
  background-repeat:no-repeat;
}

#splash .dev {
  color: #bbd5e6;
}