@import url('../fonts/rijksoverheidfonts.css');
/* CSS Document */
body,td,th {color: #FFF;font-family:"RO-Sans-Text", Arial}
html, body {width:100%;height:100%}
p {margin:0}
body {background: #9ca8a8 url(../images/bg-nl.png) no-repeat center;margin: 0px;}
.container {width:590px;height:auto;position:absolute;left:50%;top:50%;margin:-178px -315px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 20px;-webkit-box-shadow: 0px 0px 15px 5px rgba(91, 106, 104, .75);
-moz-box-shadow: 0px 0px 15px 5px rgba(91, 106, 104, .75);
box-shadow: 0px 0px 15px 5px rgba(91, 106, 104, .75); }
.splash {-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.min {text-align:center;height:75px;background:#fff;-webkit-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
.withform {-webkit-border-bottom-right-radius: 0px;-webkit-border-bottom-left-radius: 0px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.form {text-align:center;height:220px;background:#fff;-webkit-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
.message {background:#fff;-webkit-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
.long {height:270px}
.message p {color:#333;padding:0px 50px 30px 50px}
.errorMessage {padding-top:20px;padding-bottom:30px;}
.logo {display:inline-block;margin:32px 0px 0px 32px;width:320px;height:31px;}
.texts {padding:120px 20px 0 30px;clear:both;}
.textsmall {padding:30px 20px 0 30px;clear:both;}
.version {text-align:right;float:right;}
.dev {clear:both;font-size:.9em;color:#bbd5e6;padding-left:30px;padding-top:7px;padding-bottom:7px;}
.btn {display:inline-block;font-size:15px;background:linear-gradient(#DBE1E1, #B8C6C5) repeat scroll 0 0 transparent;padding:10px 0px;border:1px solid #bbb; -moz-border-radius: 2px;border-radius:2px;box-shadow: 0 1px 0 #FFFFFF inset;color: #333333;text-align: center;text-shadow: 0 1px 0 white;text-decoration:none;font-weight:bold;width:195px;margin:0 10px 10px 0}
.btn:hover {border:1px solid #4c4c4c}
.login {margin-top:-300px;}
h2 {font-family:"RO-Sans-Heading", Arial, Sans-Serif;font-size:22px;padding:14px 20px 0 32px;color:#5FA0D8;margin:0;font-weight:normal;margin-top:0}
.errorMessage h2 {background:url('../images/attention.png') no-repeat 30px 10px;padding:14px 20px 0 75px;min-height:45px;color:#d90000;}
